html body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    min-height: 2000px;
}
.main-title-container{
    display:flex;
    width: 440px;
    margin: 0 auto;
    align-items: center;    
    justify-content: space-between;
}
.main-title{
    text-align: center;
    display: inline-block;
    margin-left: 15px;
}
.ul-refresh{
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
    padding: 0px;
    right: 60px;
    top: 14px;
    line-height: 2px;
}
.li-refresh{
    list-style-type: none;
    
}
.post-list{
    padding: 0px;
    margin: 0px 30px;
}
.post-list-item{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 50px auto;
    border-radius: 10px;
    border: 1px rgb(31 31 30 / 9%) solid;
    list-style-type: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 30px 50px;
}
.post-number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgb(99 218 2);
    position: absolute;
    left: -21px;
    top: -21px;
    border-radius: 25px;

}
.post-title{
    margin: 0px;
}
.post-text{
    margin: 20px 0px;
}
